*{
	font-family: 'Barlow Condensed', sans-serif;
	font-style: normal;
	background-color: #041A25;
	margin: 0px;
}


.logo{
	display: flex;
	width: 100vw;
	justify-content: space-between;
}

.logo img{
	width: 100px;
}

.logo-text{
	font-weight: 500px;
	text-transform: uppercase;
	font-size: 32px;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 5vw;
	padding-right: 5vw;
	color: #e2e2e9;
}

.navbar{
	width: 100vw;
	background: #a4a4ad;
	display: flex;
	align-items: center;
}

.navbar a{
	width: 16.6vw;
	text-align: center;
	color: #e4e4e7;
	background: #a4a4ad;
	background-size: cover;
	transition: background 0.6s;
	text-decoration: none;
	text-decoration-color: white;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar a:hover{
	background: rgb(116,116,128);
	border-bottom-width: 70px solid #706b8e;
	transition: all 0.6s;
}