@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");


:root{
	--main--bg-color: #041A25;
	--main--nav-color: #a4a4ad;
	--main--bthover-color: #747480;
}

html, body {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

body{
	font-family: 'Barlow Condensed', sans-serif;
	font-style: normal;
	background-color: var(--main--bg-color);
}

header{
	position: fixed;
}


.logo{
	background-color: var(--main--bg-color);
	display: flex;
	width: 100vw;
	justify-content: space-between;
}

.logo img{
	width: 100px;
}

.logo-text{
	-webkit-font-smoothing: antialiased;
	font-weight: 500px;
	text-transform: uppercase;
	font-size: 32px;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 5vw;
	padding-right: 5vw;
	color: #e2e2e9;
	animation:jump 2s infinite;
}
/* Animación para que salte el título de la página */
@keyframes jump{
    0% {
      transform:translateY(0px)
    }
    50% {
      transform:translateY(-30px);
    }
    100% {
      transform:translateY(0px) 
 	}
}

/* Para dispositivos moviles y tablet */
@media (max-width:820px){

	.navbar_responsive{
		width: 100vw;
		background: var(--main--nav-color);
		display: flex;
		flex-direction: column;
	}

	.navbar_responsive-label{
		height: 53px;
		width: 35px;
	}
	
	.navbar_responsive-menu{
		color: #e4e4e7;
		width: 35px;
		background: var(--main--nav-color);
		transition: background 0.6s;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.navbar_responsive-menu:hover{
		background: var(--main--bthover-color);
		transition: all 0.2s;
	}

	.navbar_checkbox{
		display: none;
	}

	 /* diseño de la hamburguesa que te abre el menú desplegable */
	.navbar_responsive-menu-stick{
		width: 35px;
		height: 3px;
		background-color: #e4e4e7;
		margin: 5px 0;
	}

	.navbar_responsive-menu_items{
		width: 100vw;
		top: 0; 
		left: 100%;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform 400ms ease-in-out;
	}

	.navbar_responsive-itemlinks{
		display: block;
		background: var(--main--nav-color);
		text-align: center;
		color: #e4e4e7;
		text-decoration: none;
		text-decoration-color: white;
		text-transform: uppercase;
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		transition: all 0.2s;
	}

	#toggle:checked ~ .navbar_responsive-menu_items{ 
		transform: scale(1, 1);
	}

	#toggle:checked ~ .navbar_responsive-itemlinks{ 
		transition: all 0.2s;
	}

	.navbar_responsive-itemlinks:hover{
		background: var(--main--bthover-color);
		transition: all 0.2s;
	}

	.navbar{
		display: none;
		visibility: hidden;
	}
}

/* Para pantallas de escritorio (dispositivos como la gente) */
@media only screen and (min-width: 821px){
	.navbar_responsive{
		display: none;
		visibility: hidden;
	}

	.navbar{
		width: 100vw;
		background: var(--main--nav-color);
		display: flex;
		align-items: stretch;
	}

	.navbar-a{
		width: 14.28vw;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		color: #e4e4e7;
		background: var(--main--nav-color);
		transition: background 0.6s;
		text-decoration: none;
		text-decoration-color: white;
		text-transform: uppercase;
		font-size: 20px;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 10px;
		padding-right: 10px;
		z-index: 0;
	}

	.navbar-a:hover {
		background: var(--main--bthover-color);
		transition: all 0.2s;
		animation: blink 1.6s ease-in-out infinite;
  		-webkit-animation: blink 1.6s ease-in-out infinite;
	}
	/*Con esta animación los botones parpadean*/
	@keyframes blink {
		50% {
    		background-color:var(--main--nav-color);
  		}
	}

	@-webkit-keyframes blink {
  		50% {
			background-color:var(--main--nav-color);
  		}
	}

}	

